.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  margin: auto;
  width: min-content;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__close {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -36px;
  right: -36px;
  padding: 0;
  border: none;
  background: transparent url("../images/close-icon.svg") center no-repeat;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  margin: 0 0 54px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.modal__input {
  height: 28px;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
}

.modal__input_type_error {
  border-bottom: 1px solid #FF0000;
}

.modal__error {
  display: none;
  height: 17px;
  width: 358px;
  margin-top: -28px;
  color: #FF0000;
  font-size: 12px;
}

.modal__error_visible {
  display: block;
  position: relative;
}

.modal__button {
  height: 50px;
  margin-top: 18px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__button_disabled {
  cursor: default;
  opacity: 0.2;
}

.modal__container_type_image {
  background: none;
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
}

.modal__caption {
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (max-width: 560px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    right: 0px;
    top: -42px;
    height: 20px;
    width: 20px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__input {
    width: calc(100vw - 86px);
    font-size: 14px;
  }

  .modal__button {
    height: 46px;
    margin-top: 15px;
    font-size: 14px;
  }
}
